<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shahnawazmandal.shruti">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="Foodie"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menu" />
        <activity android:name=".first" />
        <activity android:name=".signup" />
        <activity android:name=".old_record" />
        <activity android:name=".show_records" />
        <activity android:name=".order_one" />
        <activity android:name=".res_list" />
        <activity android:name=".datepicker" />
        <activity android:name=".timepicker" />
        <activity android:name=".order_disp" />
        <activity android:name=".finalpage" />
        <activity android:name=".res_actions"></activity>
    </application>

</manifest>
